<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li>
                  <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="material-icons">dashboard</i>
                      <p class="hidden-lg hidden-md">Dashboard</p>
                  </a>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="material-icons">notifications</i>
                      <span class="notification">3</span>
                      <p class="hidden-lg hidden-md">Notificaciones</p>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="#">Tiene 5 mensajes</a></li>
                      <li><a href="#">Recuerde agregar los usuarios del viaje</a></li>
                      <li><a href="#">El requerimiento de servicio #3456 no eesta correcto</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="material-icons">person</i>
                      <p class="hidden-lg hidden-md">Profile</p>
                  </a>
              </li>
          </ul>
      </div>

  </div>
</nav>